<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom" id="aea">
    <a class="navbar-brand" [routerLink]="['user']" routerLinkActive="active">
        <div class="square-icon">
      <img src="../assets/User-Icon.svg" width="30" height="30" class="d-inline-block align-top" alt="Icono de usuario">
    </div>
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active ">
            <div class="square-icon">
              <img src="../assets/Home.svg" width="30" height="30" alt="Icono de home">
              <span class="icon-label">Home</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['usuarios']" routerLinkActive="active">
            <div class="square-icon">
              <img src="../assets/Users.svg"  width="40" height="40" alt="Icono de usuarios">
              <span class="icon-label">Usuarios</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['buses']" routerLinkActive="active">
            <div class="square-icon">
              <img src="../assets/Bus.svg" width="30" height="30" alt="Icono de buses">
              <span class="icon-label">Buses</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['choferes']" routerLinkActive="active">
            <div class="square-icon">
              <img src="../assets/Chofer.svg" width="30" height="30" alt="Icono de choferes">
              <span class="icon-label">Choferes</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['boletas']" routerLinkActive="active">
            <div class="square-icon">
              <img src="../assets/Registro.svg" width="30" height="30" alt="Icono de boletas de viaje">
              <span class="icon-label">Boletas de viaje</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['rutas']" routerLinkActive="active">
            <div class="square-icon">
              <img src="../assets/Trip.svg" width="30" height="30" alt="Icono de rutas">
              <span class="icon-label">Rutas</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['foro']" routerLinkActive="active">
            <div class="square-icon">
              <img src="../assets/Mensaje.svg" width="30" height="30" alt="Icono de foro">
              <span class="icon-label">Foro</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
    
